@import "tailwindcss";

@theme {
    --color-background: #000000;
    --color-foreground: #ffffff;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Space-Mono, monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

@keyframes modalIn {
    from {
        opacity: 0;
        transform: scale(0.94);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.94);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
